* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  margin: 0 auto;
  background-color: #060616;
  margin-top: 0px;
  padding: 20px;
}
a {
  text-decoration: none;
  color: whitesmoke;
  /* margin-top: 5px; */
}
body {
  background-color: antiquewhite;
}
li {
  display: inline;
  margin-left: 50px;
  margin-right: 20px;
}
ul {
  display: inline;
  float: right;
  list-style: none;
  gap: 50px;
}

.hamburger {
  width: 24px;
  height: 24px;
  display: none;
}

@media (max-width: 778px) {
  .hamburger {
    display: inline;
    position: absolute;
    right: 20px;
    z-index: 100;
  }

  ul {
    position: fixed;
    right: -100%;
    top: 0;
    width: 180px;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    padding: 24px;
    transition: all 0.4s ease-in;
    z-index: 100;
  }
  .show {
    right: 0;
  }
  li {
    display: flex;
    margin-bottom: 32px;
    margin-top: 45px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .profile {
    display: contents;
  }
  .description {
    display: contents;
    margin-bottom: 40px;
  }
  .explain {
    margin-bottom: 80px;
  }
  .description h1 {
    margin-top: 50px;
  }
}
@media (max-width: 372px) {
  .description span {
    display: none;
  }
}

.hamburger svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.brand {
  font-size: 25px;
  font-weight: bold;
}
.brand:hover {
  color: #5bd183;
  cursor: pointer;
}
li :hover {
  color: #5bd183;
  cursor: pointer;
}
.inputs h1 {
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  background-color: white;
  width: 70%;
  margin-left: 14%;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
}
textarea {
  background-color: white;
  width: 70%;
  margin-left: 14%;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:focus-within {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}
textarea:focus-within {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}
button {
  background-color: #5bd183;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  margin-left: 40%;
}
button:hover {
  opacity: 80%;
  cursor: pointer;
}
.inputs {
  height: 50%;
  width: 80%;
  justify-content: center;
  margin: auto;
  border-style: dashed;
  background-color: #060616;
  border-radius: 20px;
  margin-top: 80px;
}
.gender {
  color: white;
}
#male {
  width: fit-content;
}
#female {
  width: fit-content;
  margin-left: 8%;
}
/* error in form  */
.field p {
  color: rgb(194, 7, 7);
  text-align: center;
}
.profile {
  width: 50%;
  float: left;
  margin-top: 100px;
}
.description {
  width: 50%;
  text-align: center;
  margin-top: 100px;
  float: left;
}
.description h1 {
  font-size: 50px;
}
.description p {
  font-size: 20px;
  letter-spacing: 2px;
}
.description span {
  color: red;
  font-size: 50px;
  font-weight: bold;
}
.description .explain {
  margin-top: 20px;
  margin-left: 10px;
}
.profile img {
  display: block;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 40%;
  border: 0.3125em solid white;
  box-shadow: 0px 0px 1.5625em 0px rgb(0 0 0 / 30%);
}
.about-me {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.about-me .college {
  margin-top: 8px;
  color: grey;
}
.about-me .student {
  font-size: 18px;
}
.social-link {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.fa {
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-instagram {
  color: orangered;
}
.fa-facebook {
  color: darkblue;
}
.fa-youtube {
  color: red;
}
.footer-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: right;
  font-size: small;
  margin-right: 8px;
}
#about-section {
  background: none;
}

.video-section {
  position: relative;
  height: 75vh;
  overflow: hidden;
}
video {
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter: blur(1.5px);
}

.sidephoto {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 300px;
  height: 300px;
}
.sidephoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 5px 10px #000;
}
.services-section {
  text-align: center;
  padding: 30px 20px 50px 20px;
}

.services-section h2 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  background-color: rgb(227, 224, 224);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.service-box i.fa {
  font-size: 2em;
  color: black;
  margin-bottom: 10px;
}

.service-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: 000;
}

.service-box p {
  color: #070707;
  font-size: 1em;
  margin-bottom: 20px;
}

.service-box a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

.service-box a:hover {
  text-decoration: underline;
}

.services-container :hover {
  background-color: white;
}
